.pageHeader__container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  padding: 15px 0;

  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.pageHeader__title {
  font-size: 26px;
  font-style: italic;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.pageHeader__modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.pageHeader__modal--content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  min-width: 500px;
  border-radius: 6px;
}

.pageHeader__button--container {
  display: flex;
  gap: 10px;
}

.pageHeader__button--standart {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(70, 70, 70);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.relative{ 
    position: relative;
}

.pageHeader__cart--circle{
    padding: 5px;
    position: absolute;
    background-color: crimson;
    color: white;
    border-radius: 50%;
    top: -9px;
    left: 59px;
}
