.cart__container{
    margin: 20px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}

.cart__header--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart__header--title{
    font-size: 20px;
    font-weight: bold;
    color: orangered;

}

.cart__header--button{
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
}

.cart__list--container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.cart__list--empty{
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.cart__item--container{
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart__item--picture{
    width: 140px;
}