body {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.marginForHeader {
  margin-top: 68px; //For sticky header
}

.textAlignCenter {
  text-align: center;
}

.textAlignEnd {
  text-align: end;
}
