.productItem__modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.productItem__modal--content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  min-width: 500px;
  border-radius: 6px;
}

.productItem__modal--buttonContainer {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.productItem__modal--cancel {
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(70, 70, 70);
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 6px;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.productItem__modal--add {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(70, 70, 70);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.productItem__modal--main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productItem__product--path {
  font-size: 14px;
  color: gray;
}

.productItem__product--name {
  font-size: 24px;
  font-weight: bold;
}

.productItem__product--infoContainer {
  display: flex;
  gap: 15px;
}

.productItem_product--image {
  width: 250px;
}

.productItem_product--priceContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productItem_product--available {
  padding: 7px;
  border-radius: 50px;
  background-color: rgb(160, 255, 160);
  color: green;
}

.productItem_product--notAvailable {
  padding: 7px;
  border-radius: 50px;
  background-color: rgb(255, 160, 160);
  color: rgb(128, 0, 0);
}

.productItem_product--price {
  font-size: 20px;
}

.productItem_product--bold {
  font-weight: bold;
}
